* {
  --submit-button: #2f80ed;
  --submit-button-hover: #206bce;
  --dull-text-color: #828282;
}
.user-menu {
  top: 60px;
  right: 10px;
}

.user-menu-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 10px;
  gap: 5px;
  cursor: pointer;
}

.profile-page {
  padding: 18px;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

header .photo {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  object-fit: cover;
}
/* end header */


/* .profile-page footer {
  display: flex;
  position: relative;
} */